<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block body %}

    {% endblock %}
    
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.6.4.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    
</body>
</html>